<section class="prog" id="1">
    <div class="container">
        <div class="prog__top">
            <div class="prog__heading">
                <h2 class="prog__title">
                    Программа обучения
                </h2>
                <p class="prog__text">
                    Продолжительность курса — 4 недели
                    <br>
                    Программа обучения состоит из 8 модулей
                    <br>
                    На каждое занятие отводится по 6 часов
                </p>
            </div>
            <ul class="tab">
                <li class="tab__item">
                    <a href="#tab1" class="tab__link tab__conrol--active">Неделя 1</a>
                </li>
                <li class="tab__item">
                    <a href="#tab2" class="tab__link">Неделя 2</a>
                </li>
                <li class="tab__item">
                    <a href="#tab3" class="tab__link">Неделя 3</a>
                </li>
                <li class="tab__item">
                    <a href="#tab4" class="tab__link">Неделя 4</a>
                </li>
            </ul>
        </div>
        <div class="prog__tab">

            <div class="prog__tab-content prog__tab-content--show" id="tab1">
                <ul class="accordion-list">
                    <li class="accordion-list__item">
                        <button class="accordion-list__control">
                            <div class="accordion-list__control-icon">
                                <h3 class="accordion-list__control-title">
                                    Начало кондитерского пути и создание первого торта
                                </h3>
                                <div class="accordion-list__control-icon--bordered">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.77607 12.9756L11.7521 6.99962L5.77607 1.02363L6.78407 0.0156247L13.7681 6.99962L6.78407 13.9836L5.77607 12.9756Z"
                                            fill="#FFA55C" />
                                        <path
                                            d="M12.7598 6.28027L12.7598 7.72027L0.519766 7.72027L0.519766 6.28027L12.7598 6.28027Z"
                                            fill="#FFA55C" />
                                    </svg>

                                </div>
                            </div>
                        </button>
                        <div class="accordion-list__content">
                            <div class="accordion-content">
                                <div class="accordion-content__col">
                                    <h6 class="accordion-content__title">Теория:</h6>
                                    <ul class="accordion-content__list">
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Организация рабочего места
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Подготовка необходимого инвентаря
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Выбор необходимых продуктов
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Советы по закупке необходимых продуктов и инвентаря
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Обзор хранения и заготовки сырья
                                        </li>
                                    </ul>
                                </div>
                                <div class="accordion-content__col2">

                                    <h6 class="accordion-content__title">практика:</h6>
                                    <p class="accordion-content__text">Испечёшь морковный торт с солёной
                                        карамелью</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-list__item ">
                        <button class="accordion-list__control">

                            <div class="accordion-list__control-icon">
                                <h3 class="accordion-list__control-title">
                                    Медовик и капкейки
                                </h3>
                                <div class="accordion-list__control-icon--bordered">

                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.77607 12.9756L11.7521 6.99962L5.77607 1.02363L6.78407 0.0156247L13.7681 6.99962L6.78407 13.9836L5.77607 12.9756Z"
                                            fill="#FFA55C" />
                                        <path
                                            d="M12.7598 6.28027L12.7598 7.72027L0.519766 7.72027L0.519766 6.28027L12.7598 6.28027Z"
                                            fill="#FFA55C" />
                                    </svg>
                                </div>

                            </div>
                        </button>
                        <div class="accordion-list__content">
                            <div class="accordion-content">
                                <div class="accordion-content__col">
                                    <h6 class="accordion-content__title">Теория:</h6>
                                    <ul class="accordion-content__list">
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление и украшение капкейков
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Изготовление крема и конфи
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление медовых коржей для торта
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Пропитка коржей и сборка торта
                                        </li>
                                    </ul>
                                </div>
                                <div class="accordion-content__col2">

                                    <h6 class="accordion-content__title">практика:</h6>
                                    <p class="accordion-content__text">Испечёшь капкейки, приготовишь крем
                                        и конфи, а также сделаешь своё первое пирожное — медовик</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="prog__tab-content" id="tab2">
                <ul class="accordion-list">
                    <li class="accordion-list__item">
                        <button class="accordion-list__control">
                            <div class="accordion-list__control-icon">
                                <h3 class="accordion-list__control-title">
                                    Песочное тесто и чизкейк
                                </h3>
                                <div class="accordion-list__control-icon--bordered">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.77607 12.9756L11.7521 6.99962L5.77607 1.02363L6.78407 0.0156247L13.7681 6.99962L6.78407 13.9836L5.77607 12.9756Z"
                                            fill="#FFA55C" />
                                        <path
                                            d="M12.7598 6.28027L12.7598 7.72027L0.519766 7.72027L0.519766 6.28027L12.7598 6.28027Z"
                                            fill="#FFA55C" />
                                    </svg>

                                </div>
                            </div>
                        </button>
                        <div class="accordion-list__content">
                            <div class="accordion-content">
                                <div class="accordion-content__col">
                                    <h6 class="accordion-content__title">Теория:</h6>
                                    <ul class="accordion-content__list">
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление песочного теста
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Тонкости в приготовлении меренги
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Изготовление заварного крема
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Выпечка тарталеток
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление нежного чизкейка
                                        </li>
                                    </ul>
                                </div>
                                <div class="accordion-content__col2">

                                    <h6 class="accordion-content__title">практика:</h6>
                                    <p class="accordion-content__text">Приготовишь меренги, сделаешь
                                        заварной крем для тарталеток и испечёшь свой первый чизкейк</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-list__item ">
                        <button class="accordion-list__control">

                            <div class="accordion-list__control-icon">
                                <h3 class="accordion-list__control-title">
                                    Бисквиты
                                </h3>
                                <div class="accordion-list__control-icon--bordered">

                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.77607 12.9756L11.7521 6.99962L5.77607 1.02363L6.78407 0.0156247L13.7681 6.99962L6.78407 13.9836L5.77607 12.9756Z"
                                            fill="#FFA55C" />
                                        <path
                                            d="M12.7598 6.28027L12.7598 7.72027L0.519766 7.72027L0.519766 6.28027L12.7598 6.28027Z"
                                            fill="#FFA55C" />
                                    </svg>
                                </div>

                            </div>
                        </button>
                        <div class="accordion-list__content">
                            <div class="accordion-content">
                                <div class="accordion-content__col">
                                    <h6 class="accordion-content__title">Теория:</h6>
                                    <ul class="accordion-content__list">
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Тонкости выпечки бисквитов
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление ванильного бисквита
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление фисташкового бисквита
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление шоколадного бисквита
                                        </li>
                                    </ul>
                                </div>
                                <div class="accordion-content__col2">

                                    <h6 class="accordion-content__title">практика:</h6>
                                    <p class="accordion-content__text">Отработаешь выпечку трёх бисквитов
                                        для будущих тортов</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="prog__tab-content" id="tab3">
                <ul class="accordion-list">
                    <li class="accordion-list__item">
                        <button class="accordion-list__control">
                            <div class="accordion-list__control-icon">
                                <h3 class="accordion-list__control-title">
                                    Дрожжевое тесто
                                </h3>
                                <div class="accordion-list__control-icon--bordered">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.77607 12.9756L11.7521 6.99962L5.77607 1.02363L6.78407 0.0156247L13.7681 6.99962L6.78407 13.9836L5.77607 12.9756Z"
                                            fill="#FFA55C" />
                                        <path
                                            d="M12.7598 6.28027L12.7598 7.72027L0.519766 7.72027L0.519766 6.28027L12.7598 6.28027Z"
                                            fill="#FFA55C" />
                                    </svg>

                                </div>
                            </div>
                        </button>
                        <div class="accordion-list__content">
                            <div class="accordion-content">
                                <div class="accordion-content__col">
                                    <h6 class="accordion-content__title">Теория:</h6>
                                    <ul class="accordion-content__list">
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Технология приготовления дрожжевого теста: тонкости и советы
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление песочного теста
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Рецептурные нюансы
                                        </li>

                                    </ul>
                                </div>
                                <div class="accordion-content__col2">

                                    <h6 class="accordion-content__title">практика:</h6>
                                    <p class="accordion-content__text">Приготовишь заготовку для торта</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-list__item ">
                        <button class="accordion-list__control">

                            <div class="accordion-list__control-icon">
                                <h3 class="accordion-list__control-title">
                                    Работа с кремами
                                </h3>
                                <div class="accordion-list__control-icon--bordered">

                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.77607 12.9756L11.7521 6.99962L5.77607 1.02363L6.78407 0.0156247L13.7681 6.99962L6.78407 13.9836L5.77607 12.9756Z"
                                            fill="#FFA55C" />
                                        <path
                                            d="M12.7598 6.28027L12.7598 7.72027L0.519766 7.72027L0.519766 6.28027L12.7598 6.28027Z"
                                            fill="#FFA55C" />
                                    </svg>
                                </div>

                            </div>
                        </button>
                        <div class="accordion-list__content">
                            <div class="accordion-content">
                                <div class="accordion-content__col">
                                    <h6 class="accordion-content__title">Теория:</h6>
                                    <ul class="accordion-content__list">
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление кремов: ганаши, кремю
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Создание заварного теста
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление профитролей и нескольких видов кремов
                                        </li>

                                    </ul>
                                </div>
                                <div class="accordion-content__col2">

                                    <h6 class="accordion-content__title">практика:</h6>
                                    <p class="accordion-content__text">Приготовишь профитроли и несколько
                                        видов кремов</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="prog__tab-content" id="tab4">
                <ul class="accordion-list">
                    <li class="accordion-list__item">
                        <button class="accordion-list__control">
                            <div class="accordion-list__control-icon">
                                <h3 class="accordion-list__control-title">
                                    Mille-feuille, или Наполеон
                                </h3>
                                <div class="accordion-list__control-icon--bordered">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.77607 12.9756L11.7521 6.99962L5.77607 1.02363L6.78407 0.0156247L13.7681 6.99962L6.78407 13.9836L5.77607 12.9756Z"
                                            fill="#FFA55C" />
                                        <path
                                            d="M12.7598 6.28027L12.7598 7.72027L0.519766 7.72027L0.519766 6.28027L12.7598 6.28027Z"
                                            fill="#FFA55C" />
                                    </svg>

                                </div>
                            </div>
                        </button>
                        <div class="accordion-list__content">
                            <div class="accordion-content">
                                <div class="accordion-content__col">
                                    <h6 class="accordion-content__title">Теория:</h6>
                                    <ul class="accordion-content__list">
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление слоёного теста
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Рецептура и создание крема дипломат
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Приготовление французского морковного десерта
                                        </li>

                                    </ul>
                                </div>
                                <div class="accordion-content__col2">

                                    <h6 class="accordion-content__title">практика:</h6>
                                    <p class="accordion-content__text">Испечёте торт «Наполеон»
                                        и приготовите необычный морковный десерт</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordion-list__item ">
                        <button class="accordion-list__control">

                            <div class="accordion-list__control-icon">
                                <h3 class="accordion-list__control-title">
                                    Завершение курса
                                </h3>
                                <div class="accordion-list__control-icon--bordered">

                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.77607 12.9756L11.7521 6.99962L5.77607 1.02363L6.78407 0.0156247L13.7681 6.99962L6.78407 13.9836L5.77607 12.9756Z"
                                            fill="#FFA55C" />
                                        <path
                                            d="M12.7598 6.28027L12.7598 7.72027L0.519766 7.72027L0.519766 6.28027L12.7598 6.28027Z"
                                            fill="#FFA55C" />
                                    </svg>
                                </div>

                            </div>
                        </button>
                        <div class="accordion-list__content">
                            <div class="accordion-content">
                                <div class="accordion-content__col">
                                    <h6 class="accordion-content__title">Теория:</h6>
                                    <ul class="accordion-content__list">
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Работа кондитера на заказ
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Применение знаний о технологии выпечки к другим рецептам
                                        </li>
                                        <li class="accordion-content__item">
                                            <img class="accordion-content__icon" src="src/img/Group 2.svg"
                                                alt="">
                                            Разработка собственных рецептов
                                        </li>
                                    </ul>
                                </div>
                                <div class="accordion-content__col2">

                                    <h6 class="accordion-content__title">практика:</h6>
                                    <p class="accordion-content__text">Самостоятельно, без наставника
                                        испечёте торт на ваш выбор</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="prog__bot">
            <div class="prog__price">
                <div class="prog__text--side">
                    <div class="prog__sell">
                        <span class="prog__time">Успей получить скидку</span>
                        <span class="prog__percent">-30%</span>
                        <span class="prog__date">до 1 июня</span>
                    </div>
                    <div class="prog__cost">
                        <h6>Стоимость курса без скидки</h6>
                        <span class="second">32 000 руб.</span>
                        <h6>Стоимость курса со скидкой</h6>
                        <span class="first">22 400 руб.</span>
                    </div>
                </div>
                <a href="#" class="prog__button button">Записаться на курс</a>
            </div>
            <div class="prog__img">

                <img src="src/img/bigcake.png" alt="">
            </div>
        </div>
    </div>
</section>